.letra{
    font-size: x-large;
    color: whitesmoke;
}

img{
    width: 70px;
    height: 70px;
    padding-bottom: 0px;
    border-radius: 100px;
    background-color: #8282d4;
}



.formulario{
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    text-align: center;
      font-weight:  bold;

}
input{
    text-align: center;

}

.campo{
    width: 80%;
    margin: auto;

}

.seleccion{
    text-align: center;
}

.botones{
    background-color: #8282d4;

}

.boton{
    background-color: #8282d4;
    margin-left: 40%;
}



h3{
    text-align: center;
}

.mensajeError{
    text-align: center;
    width: 200px;
    display: inline-block;


}
.mensajeExito{
    text-align: center;
    width: 200px;
    display: inline-block;

}

img{
    width: 70px;
    height: 70px;
    padding-bottom: 0px;
    border-radius: 100px;
    background-color: #8282d4;
}

.letra{
    font-size: x-large;
    color: whitesmoke;
}

.contenedor{
    text-align: center;
}
header{
    max-height: 120px;
}
.text{
        text-align: left;

}