<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="/fragments/head :: head"> </head>
<body>
<header th:replace="/fragments/header :: header"> </header>

<div class="main-container">
  <main>

    <div>
      <h1 th:text="Welcome Back ${session.usuariosesion.getNombreCompleto()}"></h1>
    </div>

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4" ">
          <!--                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(&#45;&#45;bs-secondary-color)"/></svg>-->
          <img class="rounded-image" src="https://drive.google.com/uc?id=1hJ65ZDYFEt5G5U1fbKnkEaVR9T46Jwrg" alt="usuario">
          <h2 class="fw-normal">Listado de usuarios</h2>
          <p></p>
          <p><a class="btn btn-secondary botones" th:href="@{/usuario/listar}">Ver usuarios &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" >
          <img class="rounded-image" src="https://drive.google.com/uc?id=1cmb9ITlL4Pf2AUEVMKFvTAsogeBpRKpq" alt="proveedor">
          <h2 class="fw-normal">Listado de Proveedores</h2>
          <p></p>
          <p><a class="btn btn-secondary botones" th:href="@{/proveedor/listar}">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" >
          <img class="rounded-image" src="https://drive.google.com/uc?id=1i0RZhyOdMk0bzUmcqxev0AOnXlhSuH8a" alt="trabajos" style="background-color: lightgray">
          <h2 class="fw-normal">Listado de Trabajos</h2>
          <p><a class="btn btn-secondary botones" th:href="@{/trabajo/listar}">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->



  </main>


  <div class="row" id="footer" >
    <div >
      <footer th:replace="/fragments/footer :: footer"> </footer>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>