<footer class="row mx-0 px-0">
  <!-- Grid container -->
  <div class="container p-4 pb-0 bg-dark d-flex justify-content-center" >
    <form action="" class="formulario">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-auto mb-4 mb-md-0 text-secondary">
          <p class="pt-2">
            <strong>Suscribite para recibir novedades</strong>
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 col-12 mb-4 mb-md-0">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form5Example25" class="form-control" placeholder="Email" />

          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-auto mb-4 mb-md-0">
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary mb-4 botones">
            Suscribir
          </button>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </form>

  </div>
  <div class="text-center text-secondary" >
    © Service+ 2023 | <a href="#" class="text-secondary"> Términos y condiciones</a> | <a href="#" class="text-secondary">Política de privacidad</a> | <a href="#" class="text-secondary"> Política de cookies</a> | <a href="#" class="text-secondary"> Mapa del sitio</a>
  </div>
</footer>