    
<footer class="footer">
     <link th:href="@{/css/footer.css}" rel="stylesheet" />

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="footer-text">Suscríbete para recibir nuestras novedades</p>
            </div>
            <div class="col-md-6">
                <form action="" class="subscribe-form">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Correo electrónico">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Suscribirse</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>

